{% extends "blog_app/base.html" %}

{% block contenido %}

<h1>Información del usuario</h1>
<p>Nombre de usuario: {{ user.username }}</p>                             

<p>Avatar: 
    {% if user.avatar.imagen %}
    <img src="{{ user.avatar.imagen.url }}" alt="Avatar de {{ user.username }} " width="200" ></p>
    {% endif %}
    <p>Correo electrónico: {{ user.email }}</p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Actualizar email" />
</form>
<a class="btn btn-sucess" href="{% url 'inicio' %}">Volver Inicio</a>

{% endblock contenido %}

