{% extends "blog_app/base.html" %}

{% block contenido %}

<p>
 <strong>Titulo:</strong> {{ object.titulo }}
</p>
<p>
 <strong>Seccion:</strong> {{ object.seccion }}
</p>
<p>
 <strong>Subtitulo:</strong> {{ object.subtitulo }}
</p>
<p>
 <strong>Cuerpo:</strong> {{ object.cuerpo }}
</p>
<strong>Imagen:</strong> <img src="{{ object.imagen_articulo.url }}" alt="Descripción de la imagen">

<br>
<a class="btn btn-sucess" href="{% url 'lista_articulos' %}">Volver a la lista</a>

{% endblock contenido %}
