{% extends "blog_app/base.html" %}

{% block contenido %}

<p>
 <strong>Titulo:</strong> {{ object.titulo }}
</p>
<p>
 <strong>Seccion:</strong> {{ object.seccion }}
</p>
<p>
 <strong>Subtitulo:</strong> {{ object.subtitulo }}
</p>
<p>
 <strong>Cuerpo:</strong> {{ object.cuerpo }}
</p>
{% if object.imagen_articulo %}
<strong>Imagen:</strong> <img src="{{ object.imagen_articulo.url }}" alt="Descripción de la imagen">
{% endif %}
<br>
<a class="btn btn-sucess" href="{% url 'lista_articulos' %}">Volver a Articulos</a>
<br>
<a class="btn btn-sucess" href="{% url 'inicio' %}">Volver Inicio</a>

{% endblock contenido %}
