{% extends "blog_app/base.html" %}

{% load static %}

{% block contenido %}

<h1>Lucas Iaccarino</h1>
<div class="row">
  <!-- Blog entries-->
  <div class="col-lg-8">
    <!-- Featured blog post-->
    <div class="card mb-4">
        <div class="card-body d-flex align-items-center">
          <img src="/media/imagenes/Foto_Lucas.jpeg" alt="Descripción de la imagen" width="100" class="img-fluid mr-3">
          <div class="small text-muted ml-3">   Este es mi primer trabajo práctico como programador de Python y Django. Me interesa aprender sobre nuevas técnicas y poder implementarlas en mi trabajo.</div>
        </div>
      </div>
      
      <br>
      <a class="btn btn-sucess" href="{% url 'inicio' %}">Volver Inicio</a>


{% endblock contenido %}
